<table class="table">
	<tr>
		<td><strong><%= comment.commenter %></strong>  <i><%= comment.user.email %></i></td>
		<td><i>"<%= comment.body %>"</i></td>
		<td>
		<% if comment.user == current_user || current_user == comment.article.user %>
			<%= link_to 'Destroy', [comment.article, comment], method: :delete, 
			data: { confirm: 'Are you sure?' } %>
		<% end %>
		</td>
	</tr>
</table>

