<p>
	<strong>Commenter:</strong>
	<%= comment.commenter %>
</p>
<p>
	<strong>Email:</strong>
	<%= comment.user.email %>
</p>
<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p>
<% if comment.user == current_user || current_user == comment.article.user %>
<p>
	<%= link_to 'Destroy Comment', [comment.article, comment], method: :delete, 
	data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

