<%= form_with model: @user, multipart: true do |f|%>
<p>
	<%= f.label :Profile_photo %><br>
	<%= f.file_field :avatar %>	
</p>
<br>
<p>
	<%= f.submit "Update Profile", class: "btn btn-primary" %>
</p>
<% end %>
